// Import page-specific CSS files here.
@import "home";
@import "reservation";

//Global
h1 {
  color: rgb(238, 242, 245);
  font-size: 80px;
}

p {
  color: rgb(238, 242, 245);
  font-size: 20px;
}

// Boutons
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  position: center;
  }

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
  }

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  }

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
  }

.rent-bouton {
    margin-top: 20px ;
}

.form-control {
  margin-left: 88px;
}

// Cards
.outfit-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 600px;
  }

.outfit-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }

.outfit-card-content {
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  }

.category {
  font-size: 15px;
  opacity: .7;
  margin-top: 5px;
  }

.outfit-card-actions {
  padding: 16px;   
  align-items: center;
  position: relative;
}

.flex {
  width: auto;
}

.img-fluid {
  padding: 15px;
}

.name {

}

.category {
color: black;
}

.price {
  
}

//Footer
.footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(255,255,255,0.5);
  position: relative;
  width: auto; height: 50px;
  bottom: 0; left: 0; right: 0;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}