.card-category-show {
    background-size: cover;
    background-position: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .show-container {
    width: 80vw;
    margin: 0 auto;
  }

  .card-product {
    overflow: hidden;
    height: 65vh;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .card-product img {
    height: 100%;
    width: 17vw;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px auto;
    margin-bottom: 25px;
  }
  
  .card-product p {
    color: black;
    font-size: 1rem;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    text-align: center;
    padding: 16px;
  }

  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1BCB7F;
    transition: background 0.3s ease;
    margin: 20px auto 20px auto;
    width: 25vw;
    text-align: center;
  }
  
  .btn-flat:hover {
    background: #0b0c0c;
    color: white;
  }

  .show-title {
    font-size: 1.3rem;
  }

  .link-unstyled {
    text-decoration: none;
    color: white;
    &:hover {
      color: white;
    }
  }

.calendar {
  text-align: center;
}

.btn-flat-calendar {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #171817;
  transition: background 0.3s ease;
  margin: 10px auto 10px auto;
  width: 15vw;
  height: 3vw;
  text-align: center;
}