<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @outfit.category %></h1>
        <p><%= @outfit.name %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this outfit...</h3>
        <p>The daily price to rent this outfit is:</p>
        <p><%= @outfit.price %></p>
        <p>This outfit would work nicely if:</p>
        <p><%= @outfit.description %></p>
      </div>
    </div>     
  </div>
</div>