<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>


<body cz-shortcut-listen="true" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1518838439236-2b73ceb4638a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80); background-size:cover">

  <!-- Banner section -->
<div class="banner">
  <div class="container">
  <br>
    <h1 class="text-center">Welcome on Panoply!</h1>
    <br>
    <br>
    <h3 class="text-center">The market place that allows you to rent the perfect oufit for your upcoming interview!</h32>
  </div>
</div>

  <!-- "How it works" section -->
<div class="container">
  <div class="center-button">
    <%= link_to "Start now", outfits_path, class:"btn-primary-btn-lg" %>
  </div>
  <div class="hiw">
    <h2 class="text-center">How does it work?</h2>
    <br>
    <div class="cards">
      <div class="card">
        <img src="images/logo.png" alt="">
        <h4>1) Find</h4>
        <p class="paragraph-black">Find the perfect outfit for your appointments.</p>
      </div>
      <div class="card">
        <img src="images/logo.png" alt="">
        <h4>2) Rent</h4>
        <p class="paragraph-black">Rent the outfit for some hours.</p>
      </div>
      <div class="card">
        <img src="images/logo.png" alt="">
        <h4>3) Get a job</h4>
        <p class="paragraph-black">Be hired for the best job ever.</p>
      </div>
    </div>
  </div>
</div>
</body>
