<%= render 'shared/navbar' %>
<h1 class = "text-center">Welcome on PANOPLY</h1>
<h2 class = "text-center"> The outfit marketplace for job appointments</h2>
<div class="container text-center">
  <h4 class="align-center btn btn-success"> <%= link_to( "Sign Up!", new_user_registration_path) %></h4>
</div>
